<%- include ('../plantillas/head', {'titulo': 'Carta de Consetimiento' }) %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <%- include ('../plantillas/body') %>
        <script src="js/carta.js"> </script>
        <script src="js/funciones.js"> </script>
        <!--encabezado-->
        <div class="container">
            <div class="card ">
                <div class="card-body row justify-content-center">
                    <div class="col-md-7 col-lg-9">
                        <div class="row g-3 ">
                            <table>
                                <tr>
                                    <td>
                                        <div class="text-center">
                                            <img class="d-block mx-auto mb-4" src="assets/images/111.jpg" alt=""
                                                height="160" width="180">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-justificado">
                                            <h4 style="font-size: 20px; text-align: center;">CARTA DE CONSENTIMIENTO
                                                BAJO INFORMACION</h4>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <h5 style="font-size: large;" class="text-justificado">CLINICA "ALMENDROS"</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5 style="font-size: large;" class="text-justificado"></h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5 class="texto-justificado">Dr. Ulises Pérez Sanchez</h5>
                                    </td>
                                </tr>
                            </table>

                            <br>
                            <div class="text-center">
                                <div class="card-header">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon1">NOMBRE DEL
                                                        PACIENTE:</span>
                                                    <input tcype="text" class="form-control" placeholder=""
                                                        aria-label="Username" id="nombre" name="nombre"
                                                        aria-describedby="basic-addon1">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon1">EDAD:</span>
                                                    <input tcype="text" class="form-control" placeholder=""
                                                        aria-label="Username" id="edad" name="edad"
                                                        aria-describedby="basic-addon1">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon1">DOMICILIO:</span>
                                                    <input tcype="text" class="form-control" placeholder=""
                                                        aria-label="Username" id="domicilio" name="domicilio"
                                                        aria-describedby="basic-addon1">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon1">REPRESENTANTE
                                                        LEGAL,
                                                        FAMILIAR O ALLEGADO:</span>
                                                    <input tcype="text" class="form-control" placeholder=""
                                                        aria-label="Username" name="repre" id="repre"
                                                        aria-describedby="basic-addon1">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon1">EDAD:</span>
                                                    <input tcype="text" class="form-control" placeholder=""
                                                        aria-label="Username" name="edad2" id="edad2"
                                                        aria-describedby="basic-addon1">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon1">DOMICILIO:</span>
                                                    <input tcype="text" class="form-control" placeholder=""
                                                        aria-label="Username" name="dom2" id="dom2"
                                                        aria-describedby="basic-addon1">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text" id="basic-addon1">EN CALIDAD
                                                        DE:</span>
                                                    <input tcype="text" class="form-control" placeholder=""
                                                        aria-label="Username" name="calidad" id="calidad"
                                                        aria-describedby="basic-addon1">
                                                </div>
                                            </td>

                                        </tr>

                                    </table>
                                </div>
                            </div>

                            <br>
                            <div>
                                <div class="card-header1 text-center text-white" id="indicacion">
                                    <h4>DECLARO</h4>
                                </div>
                                <div class="text-justificado">
                                    Que el <input  type="text" name="esp1" id="esp1" class="col-sm-5" value="Dr. Ulises Pérez Montesinos">, me ha explicado que
                                    es
                                    conveniente proceder <input type="text" name="esp2" id="esp2" class="col-sm-8"> y
                                    que,
                                    todo
                                    acto
                                    médico, diagnóstico o terapéutico, sea quirúrgico o no quirúrgico, lleva implicito
                                    una
                                    serie
                                    de complicaciones
                                    mayores o menores a veces potencialmente serias, incluyen cierto riesgo de
                                    mortalidad y
                                    que
                                    pueden requerir tratamientos complementarios, médicos o quirúrgicos que aumentan su
                                    estancia
                                    hospitalaria, dichas complicaciones unas veces son derivadas
                                    que están recibiendo o de las posibles anomalias anatómicas y/o de la utilización de
                                    los
                                    equipos médicos. <br>
                                    Entre las complicaciones que pueden surgir en <input type="text" name="esp3"
                                        id="esp3">
                                    se
                                    encuentra
                                    <input type="text" name="esp4" id="esp4"> Por lo que he comprendido las
                                    explicaciones
                                    que se
                                    me han
                                    facilitado en un lenguaje claro y sencillo y que el médico que me ha atendido
                                    me realizó todas las observaciones y aclaró todas las dudas que le he planteado.
                                    <br>
                                    También comprendo que en cualquier momento y sin dar ninguna explicación, puedo
                                    revocar
                                    el
                                    consentimiento que ahora presto,
                                    por ello manifiesto que estoy satisfecho (a) con la información recibida y comprendo
                                    el
                                    alcance de los riesgos del tratamiento y
                                    procedimiento.
                                    <br><br>
                                    Del mismo modo designo a <input type="text" name="esp5" id="esp5"> para que
                                    exclusivamente
                                    el (ella)
                                    reciba información sobre mi estado de salud, diagnóstico, tratamiento y/o pronóstico
                                    y
                                    en
                                    tales condiciones. <br><br>
                                    <div class="card-header1 text-center text-white id=" indicacion">
                                        <h4>CONSIENTO</h4>
                                    </div>
                                    <br>En que se me realicen los procedimientos de diagnóstico y tratamientos que me
                                    fueron
                                    explicados y que me doy por enterado
                                    en mi declaración. Así como, me reservo expresamente el derecho de revocar mi
                                    consentimiento
                                    en cualquier momento antes
                                    de que el y/o los procedimientos, objeto de este documento sean una realidad.
                                    <br><br>
                                    Oaxaca, Oax., a los <input type="text" name="esp6" id="esp6" class="col-sm-1"> dias
                                    del
                                    mes
                                    de
                                    <input type="text" name="esp7" id="esp7" class="col-sm-2"> del año 20 <input
                                        type="text" name="esp8" id="esp8" class="col-sm-1">
                                </div>
                                <br>
                                <div class="card-header text-center" id="indicacion">
                                    <br>
                                    <h4></h4>
                                </div>
                                <br>
                                <div class="text-justificado">
                                    (En caso de que el paciente o su representante revoque el consentimiento) <br>
                                    REVOCO EL CONSENTIMIENTO PRESENTADO EN FECHA <input type="text" name="esp9"
                                        id="esp9" class="col-sm-5">
                                    <br>
                                    Y NO DESEO PROSEGUIR EL TRATAMIENTO QUE DOY CON ESTA FECHA POR FINALIZADO, EXIMIENDO
                                    DE
                                    TODA
                                    RESPONSABILIDAD AL MEDICO TRATANTE, UNA VEZ QUE ME HA EXPLICADO LOS ALCANCES
                                    CLÌNICOS DE
                                    LA
                                    SUSPENSIÒN DEL ACTO MENCIONADO.
                                </div>
                                <br><br>
                                <div class="card-header text-center" id="indicacion">
                                    <br>
                                    <h4></h4>
                                </div>
                                <br>
                                <div class="text-justificado">
                                    (En caso de que el paciente o su representante revoque el consentimiento) <br>
                                    NIEGO LA AUTORIZACION A QUE ME REALICEN LOS PROCEDIMIENTOS DE DIAGNÒSTICO Y
                                    TRATAMIENTO
                                    QUE
                                    SE ME FUERON EXPLICADOS Y QUE DOY POR ENTERADO EN MI DECLARACIÒN.
                                </div>
                                <br>
                                <div class="card-header text-center" id="indicacion">
                                    <br>
                                    <h4></h4>
                                </div>
                                <br><br><br><br><br>
                                <div class="text-justificado row g-3 ">
                                    <div class="col-sm-6">
                                        <label for="nombre" class="form-label">NOMBRE Y FIRMA DEL MEDICO</label>
                                        <input type="text" class="form-control" id="esp10" name="esp10" placeholder=""
                                            value="Dr. Ulises Pérez Montesinos">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="nombre" class="form-label">NOMBRE Y FIRMA DEL PACIENTE</label>
                                        <input type="text" class="form-control" id="esp11" name="esp11" placeholder=""
                                            value="">
                                    </div>
                                </div>
                                <br><br><br><br><br>
                                <div class="text-justificado row g-3 ">
                                    <div class="col-sm-6">
                                        <label for="nombre" class="form-label">NOMBRE Y FIRMA DEL TESTIGO</label>
                                        <input type="text" class="form-control" id="esp12" name="esp12" placeholder=""
                                            value="">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="nombre" class="form-label">NOMBRE Y FIRMA DEL TESTIGO</label>
                                        <input type="text" class="form-control" id="esp13" name="esp13" placeholder=""
                                            value="">
                                    </div>
                                </div>
                                <br><br><br><br><br>
                                <div class="text-justificado">
                                    Oaxaca, Oax., a los <input type="text" name="esp14" id="esp14" class="col-sm-1">días
                                    del
                                    mes
                                    de
                                    <input type="text" name="esp15" id="esp15" class="col-sm-2"> del año 20 <input
                                        type="text" name="esp16" id="esp16" class="col-sm-1">

                                </div>
                            </div>
                            <!--botones para guardar -->
                            <br>
                            <div class="modal-footer">
                                <a class="btn btn-secondary" href="/carta" role="button">Cancelar</a>
                                <button id="insertar" type="button" class="btn btn-primary">Guardar todo</button>
                                <a class="btn btn-danger" href="/download2" role="button">Generar PDF</a>
                            </div>
                            <br>
                            <br>
                            <br>
                            <br>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include ('../plantillas/footer') %>