<%- include ('../plantillas/head', {'titulo': 'Agenda Reumatologo' }) %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <%- include ('../plantillas/body') %>
    <div style="text-align: justify; font-size: 11px;" class="container">
        <input id="clave" type="text" name="id" value="${agenda.id}"> 
        <div class="mb-4 row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Actividad</label>
          <div class="col-sm-10">
            <input type="text" id="nombre" class="form-control" value="${agenda.nombre}" >
          </div>
        </div>
        <div class="mb-4 row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Empieza</label>
          <div class="col-sm-5">
            <input type="text" id="fecha" class="form-control" value="${agenda.fecha}">
          </div>
          <div class="col-sm-5">
            <input type="text" id="hora" class="form-control" value="${agenda.hora}">
          </div>
        </div>
        <div class="mb-4 row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Termina</label>
          <div class="col-sm-5">
            <input type="text" id="fecha1" class="form-control"
              value="${agenda.fecha1}">
          </div>
          <div class="col-sm-5">
            <input type="text" id="hora2" class="form-control" value="${agenda.hora2}">
          </div>
        </div>
        <div class="mb-4 row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Paciente</label>
          <div class="col-sm-10">
            <input type="text" id="paciente" class="form-control"
              value="${agenda.paciente}">
          </div>
        </div>
        <div class="mb-4 row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Costo</label>
          <div class="col-sm-2">
            <input type="text" id="precio" class="form-control"
              value="${agenda.precio}">
          </div>
          <label for="staticEmail" class="col-sm-2 col-form-label">Medico</label>
          <div class="col-sm-6">
            <input type="text" id="medico" class="form-control"
              value="${agenda.medico}">
          </div>
        </div>
        <div class="mb-4 row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Color</label>
          <div class="col-sm-2">
            <input type="color" class="form-control form-control-color" id="color"
              value="${agenda.color}" title="Escoge tu color">

          </div>
        </div>
      </div>
        <div class="modal-content">
            <div class="modal-header" style="background-color:#161414 ;">
                <p>
                    <a class="btn btn-danger" href="/tarea1" role="button">Cancelar</a>
                </p>
                <h5 class="modal-title text-center text-white" id="exampleModalLabel">Agegar
                    evento
                </h5>
                <button id="insertar" type="button" class="btn btn-primary">Hecho</button>
            </div>
            <div class="modal-body">
                <div class="mb-4 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Asunto</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nombre" placeholder="">
                    </div>
                </div>
                <div class="mb-4 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Empieza</label>
                    <div class="col-sm-5">
                        <input type="date" id="fecha" name="fechaI" class="form-control" value="2022-1-1"
                            min="2022-01-01" max="2050-12-31">
                    </div>
                    <div class="col-sm-5">
                        <input type="time" id="hora" name="horaI" class="form-control" value="00:00" min="01:00"
                            max="00:00">
                    </div>
                </div>
                <div class="mb-4 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Termina</label>
                    <div class="col-sm-5">
                        <input type="date" id="fecha1" name="fechaF" class="form-control" value="2022-1-1"
                            min="2022-01-01" max="2050-12-31">
                    </div>
                    <div class="col-sm-5">
                        <input type="time" id="hora2" name="horaF" class="form-control" value="00:00" min="01:00"
                            max="00:00">
                    </div>
                </div>
                <div class="mb-4 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Paciente:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="paciente" placeholder="">
                    </div>
                </div>
                <div class="mb-4 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label ">Costo:</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" id="precio" placeholder="$">
                    </div>
                    <label for="staticEmail" class="col-sm-2 col-form-label ">Medico:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="medico" placeholder="">
                    </div>
                </div>
                <div class="mb-4 row">
                    <label for="exampleColorInput" class="col-sm-2 col-form-label">Color
                    </label>
                    <div class="col-sm-10">
                        <input type="color" class="form-control form-control-color" id="color" value="#563d7c"
                            title="Escoge tu color">
                    </div>
                </div>
            </div>
        </div>
        <%- include ('../plantillas/footer') %>