<%- include ('../plantillas/head', {'titulo': 'Medicos' }) %>
  <%- include ('../plantillas/body') %>
    <br>
    <div class="container">
      <div class="card">
        <div class="card-body row justify-content-center">
          <div class="col-md-7 col-lg-8">
            <section class="steps">
              <div class="container">
                <div class="page-section text-center">
                  <h2 class="page-section__title">ESPECIALIDADES</h2>
                  <div class="page-section__title-style">
                    <span class="first-line"></span>
                    <span class="second-line"></span>
                  </div>
                  <p class="page-section__subtitle"></p>
                  <div class="row">
                    
                    <div class="col-md-4">
                      <div class="text-center steps__single steps__single-first">
                        <a href="/pacientes"><img src="assets/images/medico.png" alt=""></a>
                        <p>REUMATOLOGIA</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="text-center steps__single">
                        <a href="/paciente2"><img src="assets/images/27.png" ></a>
                        <p>TRAUMATOLOGIA</p>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="text-center steps__single steps__single-first">
                        <a href="/paciente1"><img src="assets/images/33.png" alt=""></a>
                        <p>OFTAMOLOGIA</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>

    <%- include ('../plantillas/footer') %>