<%- include ('../plantillas/head', {'titulo': 'Reumatologia' }) %>
  <%- include ('../plantillas/body') %>
    <br>
    <div class="container">
      <div class="card">
        <div class="card-body row justify-content-center">
          <div class="col-md-7 col-lg-8">
            <section class="steps">
              <div class="container">
                <div class="page-section text-center">
                  <h2 class="page-section__title">REUMATOLOGIA</h2>
                  <div class="page-section__title-style">
                    <span class="first-line"></span>
                    <span class="second-line"></span>
                  </div>
                  <p class="page-section__subtitle"></p>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="text-center steps__single steps__single-first">
                        <a href="/paciente"><img src="assets/images/10.png" alt=""></a>
                        <p>PACIENTES</p>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="text-center steps__single">
                        <a href="/tarea1"><img src="assets/images/9.png" alt=""></a>
                        <p>AGENDA</p>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="text-center steps__single steps__single-first">
                        <a href="/nota"><img src="assets/images/2.png"  alt=""></a>
                        <p>NOTA CLINICA</p>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>

    <%- include ('../plantillas/footer') %>