<%- include ('../plantillas/head', {'titulo': 'Principal' }) %>
    <%- include ('../plantillas/body') %>
        <header class="header header--bg">
            <div class="main_container">
                <div class="container">

                    <div class="row"> 
                        <div class="col-lg-6 header__content">
                            <h1 class="title">CLINICA "ALMENDROS"<br><span class="title-style"></span></h1>
                            
                        </div>
                        <div class="col-lg-6">
                            <img class="img-responsive" src="assets/images/fondo.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <%- include ('../plantillas/footer') %>